ZMK_UNICODE_PAIR(ru_a,		N0, N4, N3, N0,		N0, N4, N1, N0)  // а/А
ZMK_UNICODE_PAIR(ru_be,		N0, N4, N3, N1,		N0, N4, N1, N1)  // б/Б
ZMK_UNICODE_PAIR(ru_ve,		N0, N4, N3, N2,		N0, N4, N1, N2)  // в/В
ZMK_UNICODE_PAIR(ru_ghe,		N0, N4, N3, N3,		N0, N4, N1, N3)  // г/Г
ZMK_UNICODE_PAIR(ru_de,		N0, N4, N3, N4,		N0, N4, N1, N4)  // д/Д
ZMK_UNICODE_PAIR(ru_ie,		N0, N4, N3, N5,		N0, N4, N1, N5)  // е/Е
ZMK_UNICODE_PAIR(ru_zhe,		N0, N4, N3, N6,		N0, N4, N1, N6)  // ж/Ж
ZMK_UNICODE_PAIR(ru_ze,		N0, N4, N3, N7,		N0, N4, N1, N7)  // з/З
ZMK_UNICODE_PAIR(ru_i,		N0, N4, N3, N8,		N0, N4, N1, N8)  // и/И
ZMK_UNICODE_PAIR(ru_ka,		N0, N4, N3, A,		N0, N4, N1, A)  // к/К
ZMK_UNICODE_PAIR(ru_el,		N0, N4, N3, B,		N0, N4, N1, B)  // л/Л
ZMK_UNICODE_PAIR(ru_em,		N0, N4, N3, C,		N0, N4, N1, C)  // м/М
ZMK_UNICODE_PAIR(ru_en,		N0, N4, N3, D,		N0, N4, N1, D)  // н/Н
ZMK_UNICODE_PAIR(ru_o,		N0, N4, N3, E,		N0, N4, N1, E)  // о/О
ZMK_UNICODE_PAIR(ru_pe,		N0, N4, N3, F,		N0, N4, N1, F)  // п/П
ZMK_UNICODE_PAIR(ru_er,		N0, N4, N4, N0,		N0, N4, N2, N0)  // р/Р
ZMK_UNICODE_PAIR(ru_es,		N0, N4, N4, N1,		N0, N4, N2, N1)  // с/С
ZMK_UNICODE_PAIR(ru_te,		N0, N4, N4, N2,		N0, N4, N2, N2)  // т/Т
ZMK_UNICODE_PAIR(ru_u,		N0, N4, N4, N3,		N0, N4, N2, N3)  // у/У
ZMK_UNICODE_PAIR(ru_ef,		N0, N4, N4, N4,		N0, N4, N2, N4)  // ф/Ф
ZMK_UNICODE_PAIR(ru_ha,		N0, N4, N4, N5,		N0, N4, N2, N5)  // х/Х
ZMK_UNICODE_PAIR(ru_tse,		N0, N4, N4, N6,		N0, N4, N2, N6)  // ц/Ц
ZMK_UNICODE_PAIR(ru_che,		N0, N4, N4, N7,		N0, N4, N2, N7)  // ч/Ч
ZMK_UNICODE_PAIR(ru_sha,		N0, N4, N4, N8,		N0, N4, N2, N8)  // ш/Ш
ZMK_UNICODE_PAIR(ru_shcha,		N0, N4, N4, N9,		N0, N4, N2, N9)  // щ/Щ
ZMK_UNICODE_PAIR(ru_sign,		N0, N4, N4, A,		N0, N4, N2, A)  // ъ/Ъ
ZMK_UNICODE_PAIR(ru_yeru,		N0, N4, N4, B,		N0, N4, N2, B)  // ы/Ы
ZMK_UNICODE_PAIR(ru_sign,		N0, N4, N4, C,		N0, N4, N2, C)  // ь/Ь
ZMK_UNICODE_PAIR(ru_e,		N0, N4, N4, D,		N0, N4, N2, D)  // э/Э
ZMK_UNICODE_PAIR(ru_yu,		N0, N4, N4, E,		N0, N4, N2, E)  // ю/Ю
ZMK_UNICODE_PAIR(ru_ya,		N0, N4, N4, F,		N0, N4, N2, F)  // я/Я
